<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soso.domain.file.repository.FileRepository">

    <insert id="insertFile" parameterType="com.soso.domain.file.dto.FileSaveDto">
        INSERT INTO files (
            user_seq,
            board_seq,
            file_category,
            oriname,
            sysname,
            file_size,
            file_type
        ) VALUES (
            #{userSeq},
            #{boardSeq},
            #{fileCategory},
            #{oriname},
            #{sysname},
            #{fileSize},
            #{fileType}
        )
    </insert>

    <select id="getFilesByUserAndCategory" parameterType="map" resultType="com.soso.domain.file.dto.FileSaveDto">
        SELECT 
            user_seq AS userSeq,
            board_seq AS boardSeq,
            file_category AS fileCategory,
            oriname,
            sysname,
            file_size AS fileSize,
            file_type AS fileType
        FROM files
        WHERE user_seq = #{userSeq} AND file_category = #{category}
        ORDER BY files_seq ASC
    </select>

    <delete id="deleteFile" parameterType="string">
        DELETE FROM files WHERE sysname = #{sysname}
    </delete>

</mapper>
