<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Login">
	
	<select id="toLogin" resultType="map">
		SELECT 
			u.user_seq, u.user_id, u.password, u.name, u.nickname, u.email, u.phone, u.user_type, u.created_at,
			s.store_seq, s.user_seq AS store_user_seq, s.biz_number, s.company_name, s.opening_date, s.zonecode, s.address1, s.address2
		FROM users u 
		LEFT JOIN stores s ON u.user_seq = s.user_seq 
		WHERE u.user_id = #{id} AND u.user_type = #{user_type}
	</select>
	
	 
</mapper>